.checkoutTop{
  &__line1{
    height: 210px;
  }
  &__line2{
    height: 190px;
  }
  &__title{
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 60.5px */
    letter-spacing: 1.1px;
  }
  &__box{
    padding-top: 30px;
    display: flex;
    &-p1{
      color: #000;
      font-family: Raleway, sans-serif;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 23.8px */
      letter-spacing: 0.34px;
    }
    &-span{
      padding: 2px 20px 0;
    }
    &-p2{
      color: #909090;
      font-family: Raleway, sans-serif;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 23.8px */
      letter-spacing: 0.34px;
    }
  }
}
.checkout{
  &__line8{
    height: 140px;
  }
  &__line1{
    width: 320px;
  }
  &__line2{
    height: 80px;
  }
  &__line3{
    height: 40px;
  }
  &__line4{
    height: 30px;
  }
  &__line5{
    width: 80px;
  }
  &__line6{
    height: 160px;
  }
  &__box{
    display: flex;
  }
  &__span{
    display: block;
    margin-top: -15px;
  }
  &__title{
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 35px */
    letter-spacing: 0.5px;
  }
  &__input1{
    border: none;
    padding: 0 0 15px 5px;
    width: 350px;
    height: 40px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: #868686;
    font-family: Raleway, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 23.8px */
    letter-spacing: 0.34px;
  }
  &__input2{
    border: none;
    padding: 0 0 105px 5px;
    width: 350px;
    height: 130px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: #868686;
    font-family: Raleway, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 23.8px */
    letter-spacing: 0.34px;
  }
  &__info {
    display: flex;
  }
  &__info1 {
    &-p{
      padding-bottom: 30px;
      color: #000;
      font-family: Raleway, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 28px */
      letter-spacing: 0.4px;
    }
  }
  &__p2{
    display: flex;
    align-items: center;
    column-gap: 15px;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 23.8px */
    letter-spacing: 0.34px;
  }
  &__btn{
    cursor: pointer;
    border: none;
    border-radius: 0;
    color: #FFF;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.9%; /* 23.613px */
    letter-spacing: 0.34px;
    display: flex;
    padding: 22px 50px;
    align-items: center;
    gap: 10px;
    background: var(--CTA, #6E9C9F);
    &-a{
      color: white;
      text-decoration: none;
    }
  }
  &__decor{
    display: flex;
    margin-top: -20px;
    margin-left: -30px;
    &-pd1{
      padding: 23px 83px 10px 30px;
      background: #F1EADC;
      color: #000;
      font-family: Raleway, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 28px */
      letter-spacing: 0.4px;
    }
    &-pd2{
      padding: 23px 30px 30px 83px;
      background: #F1EADC;
      color: #000;
      font-family: Raleway, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 28px */
      letter-spacing: 0.4px;
    }
  }
}