*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
    background-color: white;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: fixed;
    left: 0;
    right: 0;

}
.logo h1{
    color: #6E9C9F;
    margin-right: 5px;
    font-size: 25px;
}
.logo i{
    margin-right: 10px;
}

.navbar a{
    font-size: 18px;
    color: black;
    padding: 1rem;
    margin-left: 45px;
    position: relative;
}
.navbar a::after{
    content: "";
    background-color: #6E9C9F;
    left: 0;
    position: absolute;
    width: 0;
    height: 3px;
    top: 100%;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}
.contact{
    display: flex;
    column-gap: 7px;
}